<template>
  <div>
    <canvas ref="game" width="640" height="480" style="border: 2px solid black;"></canvas>
    <p>
      <button v-on:click="move('right')">R</button>
      <button v-on:click="move('left')">L</button>
      <button v-on:click="move('up')">U</button>
      <button v-on:click="move('down')">D</button>
    </p>
  </div>
</template>

<script>
  import io from "socket.io-client";
  const socket_host = 'http://localhost:3000/';
  const opts = { withCredentials: false, extraHeaders: {
    "my-custom-header": "eee",
  }};
  var socket = io.connect(socket_host, opts);
  export default {
    name: 'BlockGameName',
    data(){
      return {
        socket:socket,
        playerID:null,
        context:{},
        position:{
          x:0,
          y:0
        }
      }
    },
    created(){
      this.socket.on('message', this.receiveMessage);
      this.socket.on('server-move', this.receiveMove);
      this.socket.on('setPlayerData', this.receiveEnterRoom);
      // 推送到後端
      this.socket.emit('message', "午安");
    },
    mounted(){
      this.context  = this.$refs.game.getContext("2d");
    },
    methods:{
      move(direction) {
        let moveInfo = {
          playerID:this.playerID,
          direction:direction
        };

        this.socket.emit('client-send-move', moveInfo);
      },
      //公告訊息
      receiveMessage(message) {
        console.log(message);
      },
      //玩家移動
      receiveMove(moveInfo) {
        switch(moveInfo.direction){
          case 'left':
            this.position.x -=5;
            this.drawRect();
            break;
          case 'right':
            this.position.x +=5;
            this.drawRect();
            break;
          case 'up':
            this.position.y -=5;
            this.drawRect();
            break;
          case 'down':
            this.position.y +=5;
            this.drawRect();
            break;
          default:
            break;
        }
        
        console.log(moveInfo)
      },
      //入房玩家資料
      receiveEnterRoom(playerData){
        this.playerID = playerData.playerID;
        this.position = playerData.position;
        this.drawRect();
      },
      drawRect(){
        let rectWidth = 20;
        this.context.clearRect(0, 0, this.$refs.game.width, this.$refs.game.height);
        this.context.fillRect(this.position.x - rectWidth / 2, this.position.y - rectWidth / 2, rectWidth, rectWidth);
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
